* {
    background-color: rgb(245, 204, 146);
}


h1, h2, p {
    color: rgb(158, 66, 66);
}

li a {
    color: rgb(107, 101, 107);
}

img {
    height: auto;
    width: 500px;
}

#recipe-list li {
    color:rgb(77, 10, 10);
}

a#return {
    color :rgb(150, 119, 72);
}


